{
  "cluster": {
	"cluster_id": "123e4567-e89b-12d3-a456-426614174000",
	"server_nodes": {
	  "d77257ffb49f4263b57a62e85d91c9c9": "srvnode-1"
	}
  },
  "corosync-pacemaker": {
	"cluster_name": "cortx_cluster",
	"user": "hacluster",
	"secret": "gAAAAABgCSb6rPYYM_59JNS8hLAnQt-J1FniehFJ-XW6QGE2T38rSVXoE1VnUkSE5R2qh8NuAtvxs5SCQ8khTa2LmUnF2fBhYA=="
  }
}