[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStartPost=sleep 10;for i in $( seq 1 10 ); do test 1 -le $(ps ax | grep java | grep -i QuorumPeerMain | grep -v grep | awk '{print $1}' | wc -l) && break || ( sleep 2; continue ); done
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
ExecStopPost=sleep 5;for i in $( seq 1 20 ); do PIDS=$(ps ax | grep java | grep -i QuorumPeerMain | grep -v grep | awk '{print $1}' | wc -l); test 0 -eq ${PIDS} && break ||  ( kill -s TERM ${PIDS}; sleep 2; continue ); done

[Install]
WantedBy=multi-user.target
