[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStartPost=sleep 5;for i in $( /usr/bin/seq 1 40 ); do /usr/bin/test 1 -le $(/usr/bin/ps ax | /usr/bin/grep java | /usr/bin/grep -i QuorumPeerMain | /usr/bin/grep -v /usr/bin/grep | /usr/bin/awk '{print $1}' | /usr/bin/wc -l) && break || ( sleep 2; continue ); done
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
ExecStopPost=sleep 5;for i in $( /usr/bin/seq 1 40 ); do PIDS=$(/usr/bin/ps ax | /usr/bin/grep java | /usr/bin/grep -i QuorumPeerMain | /usr/bin/grep -v /usr/bin/grep | /usr/bin/awk '{print $1}'); /usr/bin/test 0 -eq $(echo ${PIDS} | wc -l) && break ||  ( /usr/bin/kill -s SIGKILL ${PIDS}; sleep 2; continue ); done

[Install]
WantedBy=multi-user.target
