{
  "install_path": "/opt/seagate",
  "utils": {
    "log_level": "INFO"
  },
  "product_id": "LR2",
  "discovery": {
    "solution_platform_monitor": "/opt/seagate/cortx/sspl/bin/resource_map",
    "resource_map": {
      "location": "/var/cortx/resources/",
      "store_type": "json",
      "expiry_sec": 1800
    }
  }
}
