# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @shailesh-vaidya @mukul-seagate11

# Added additional code-owners for cortx-prereq package
/scripts/third-party-rpm/*.txt        @johnbent @ujjwalpl @shailesh-vaidya
