node:
  0449364d92b2ba3915fcd8416014cff7:
    cluster_id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
    hostname: "ssc-vm-3780.colo.seagate.com"
cortx:
  external:
    openldap:
      base_dn: "dc=seagate,dc=com"
      admin: "admin"
      secret: "gAAAAABgiBKtyL7Y0QUvbsNeaJRvh7ihTq9EQDCiZlGkO2k2doSEepB0-dYFPM3V12NyjagS3oCU5YcO6JPBTe5pEMaTKbVPDg=="
cluster:
  3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6:
    storage_set_count: "1"
    storage_set:
    - nodes: "['0449364d92b2ba3915fcd8416014cff7']"
