cortx:
 software:
   consul:
     config_path: /opt/consul/conf
     data_path: /opt/consul/data
server_node:
  7c4fd75dfedd7662e6a39b0a53274922:
    network:
      data:
        private_fqdn: srvnode-1.data.private
        private_interfaces:
        - enp175s0f1
    roles:
      - consul_server

