cortx:
 software:
   consul:
     config_path: /opt/consul/conf
     data_path: /opt/consul/data
server_node:
  7c4fd75dfedd7662e6a39b0a53274922:
    cluster_id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
    network:
      data:
        private_fqdn: 10.230.249.168
        private_interfaces:
        - eth0
    node_id: '1'
  7c4fd75dfedd7662e6a39b0a53274923:
    cluster_id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
    network:
      data:
        private_fqdn: 10.230.248.165
        private_interfaces:
        - eth0
    node_id: '2'
  8efd697708a8f7e428d3fd520c180795:
    cluster_id: "3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6"
    network:
      data:
        private_fqdn: 10.230.243.36
        private_interfaces:
        - eth0
    node_id: '3'
cluster:
  3f670dd0-17cf-4ef3-9d8b-e1fb6a14c0f6:
    site:
      storage_set_count: "1"
    storage_set:
    - server_nodes: 
      - 7c4fd75dfedd7662e6a39b0a53274922
      - 7c4fd75dfedd7662e6a39b0a53274923 
      - 8efd697708a8f7e428d3fd520c180795

