[luster-pkg]
gpgcheck=0
enabled=1
baseurl={{ CORTX_BUILD }}/3rd_party/lustre/custom/tcp
name=luster-pkg

[cortx-rpm]
gpgcheck=0
enabled=1
baseurl={{ CORTX_BUILD }}/cortx_iso
name=cortx-rpm

[3rd-party]
gpgcheck=0
enabled=1
baseurl={{ CORTX_BUILD }}/3rd_party
name=cortx-3rd_party

[s3_uploads]
gpgcheck=0
enabled=1
baseurl=http://cortx-storage.colo.seagate.com/releases/cortx/uploads/centos/centos-7.8.2003/s3server_uploads
name=s3_uploads