[all:vars]
ansible_connection=ssh
ansible_user=root
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[srvnodes] 
{% set node_count = 1 %}
{% for node in HOST.split(',') %}
srvnode-{{ node_count }} ansible_host={{ node }}
{% set node_count = node_count + 1 %}
{% endfor %}