[all:vars]
ansible_connection=ssh
ansible_user=root
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[srvnodes] 
{% for node in HOST.split(',') %}
srvnode-{{ loop.index }} ansible_host={{ node }}
{% endfor %}